body{
    background-image: url(../images/prism.png);
}  


#bio-image{
    float:left;
    padding: 10px;
}
.navbar-brand{
    background-color:#4aaaa5;
    
}

h2{
    color:#4aaaa5;
}


.padding-0{
    padding-right:0;
    padding-left:0;
}


footer {
    position: absolute;
    bottom: 0;
    width:100%;
}

#Copy{
    color: #ffffff
}

.btn{
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}
.card-img-top{
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
}